<div class="container text-center">
    <div class="display-6">
        Register Client:
    </div>
    <div class="border rounded shadow-sm p-4">
        <div class="text-end">
            <a routerLink="/client-form" class="btn btn-primary">New</a>
        </div>
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Delete</th>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"><input class="form-control" [(ngModel)]="nameFilter" (keyup)="filterName()" placeholder="Filter by name"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (client of clientPage.content; track client.id){
            <tr>
                <th scope="row">{{client.id}}</th>
                <td><a routerLink="/client-form/{{client.id}}">{{client.name}}</a></td>
                <td>{{client.phone}}</td>
                <td>{{client.dateOfBirth | date:'MM-dd-yyyy' }}</td>
                <td (click)="delete(client, modalConfirm)">
                    <img src="assets/svg/trash3-fill.svg" width="20" height="20" alt="next">
                </td>
            </tr>
            }
        </tbody>
        </table>

        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="clientPage.totalElements" [(page)]="page" [boundaryLinks]="true" (pageChange)="pageChange()" />

    </div>
</div>

<app-modal #modalConfirm [title]="'Do you want to delete client?'">
    @if (selectedClient){
        <ng-container>
            Name: <span class="fw-bold me-1">{{selectedClient.name}}</span>
        </ng-container>
    }
</app-modal>